@import url("https://fonts.googleapis.com/css2?family=Jost&family=Orbitron:wght@500&display=swap");

* {
  font-family: "Jost", sans-serif;
}

h6 {
  font-family: "Jost", sans-serif;
  color: #2d83ee;
  letter-spacing: 4px;
  font-size: 22px;
}

/* Navbar style */
.navbar-custom {
  background: linear-gradient(to right, #1c255e, #323773, #051144);
  mix-blend-mode: multiply;
  color: #fff;
  font-family: "Jost", sans-serif;
}

#navbarScrollingDropdown {
  color: #fff;
}

.btn {
  background: linear-gradient(to right, #7184fd, #3f7af0, #4f37ee);
}

/* Home Page Style */

.home {
  background: linear-gradient(to right, #1c255e, #323773, #051144);
  mix-blend-mode: multiply;
  color: #fff;
}

.text_area {
  margin: 0 140px;
  padding-top: 140px;
}

.text_area > h2 {
  width: 100%;
  margin-bottom: 40px;
  font-family: "Jost", sans-serif;
}

.text_area > h5 {
  margin-bottom: 40px;
  font-family: "Jost", sans-serif;
}

.cube_img {
  float: right;
  position: relative;
  bottom: 400px;
  left: 130px;
}

.btn-1 {
  margin: 5px 20px 120px 0;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(#7184fd, #4e7df4, #497cf3, #3f7af0, #4f37ee);
  border: none;
}

.btn-2 {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background: #132d6b;
  border: 1px solid #3f7af0;
}

.detail {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  color: #2d83ee;

  font-weight: bolder;
}

.flex-box {
  margin: 10px;
}

.div2 {
  margin: 0 300px;
}

.head {
  margin-top: 17px;
}

.detail p {
  font-size: 15px;
  color: #fff;
  font-family: "Jost", sans-serif;
  width: 130px;
}

/*//////////////// Client page ///////////////////*/
.client-section {
  margin: 50px 140px;
}

.client_names > h6 {
  font-family: "Jost", sans-serif;
  color: #2d83ee;
  letter-spacing: 4px;
  font-size: 22px;
}

.client_names > h4 {
  font-weight: bold;
  margin: 10px 0;
}

.client-section span {
  margin: 0px 70px 0px 0px;
  color: #2d83ee;
  font-family: "Orbitron", sans-serif;
}

.coin {
  width: 25px;
  height: 25px;
}

.service {
  margin: 0 20px;
  width: 100%;
}

.service_details > h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.71px;
}

.search {
  float: left;
  margin-top: 0;
  width: 450px;
  height: 409px;
  margin-right: 120px;
}

.service_details {
  text-align: justify;
  margin: 100px 0 0 0;
}

.second_image {
  margin: 0 20px;
}

.service_two {
  width: 100%;
  margin-top: 0;
}

.service_two > h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.71px;
}

.mobile {
  display: flex;
  float: right;
  position: relative;
  bottom: 200px;
  height: 300px;
}

.section_third {
  margin-top: 10px;
}

.point {
  text-align: center;
}

.point > h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.71px;
}
.feature {
  margin: 50px 30px;
  width: 95%;
}

/*/ ///////////////////////// portfolio //////////////////////////////*/
.portfolio {
  background: linear-gradient(to right, #1c255e, #323773, #051144);
  overflow: hidden;
}

.midsection {
  text-align: center;
  padding: 20px;
}
.midsection > h4 {
  color: #fff;
  padding: 20px 0;
  font-size: 30px;
  letter-spacing: -0.71px;
  font-weight: 500;
}

.ether {
  margin: 5px 20px 120px 0;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(#7184fd, #4e7df4, #497cf3, #3f7af0, #4f37ee);
  border: none;
}

.crypto_btn {
  margin: 5px 20px 120px 0;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  background: #323773;
  border: 1px solid #fff;
}

.copy {
  height: 200px;
  width: 200px;
  margin: 0 120px;
}
.lastBtn {
  margin: 50px 600px;
  padding: 10px 50px;
  background: #323773;
  color: #fff;
  border: 1px solid #e7dddd8e;
  border-radius: 8px;
}

/*/////////////////////// Feature Page ///////////////////////////////*/

.feature_page {
  margin: 50px 200px 0px 140px;
}

.left_div > h6 {
  padding-top: 80px;
}

.left_div > h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.71px;
}

.web_data {
  color: #fff;
  background-color: #4a4bee;
  width: 450px;
  text-align: center;
  border-radius: 8px;
  padding: 20px 10px;
  float: right;
  position: relative;
  top: -220px;
}

.right_div {
  margin-bottom: 0;
}

.upper {
  width: 350px;
  text-align: center;
  border: 1px solid #2d83ee;
  border-radius: 8px;
  padding: 10px;
  color: #2d83ee;
  float: right;
  position: relative;
  top: -290px;
  left: 460px;
}

.upper_one {
  width: 350px;
  text-align: center;
  border: 1px solid #2d83ee;
  border-radius: 8px;
  padding: 10px 15px;
  color: #2d83ee;
  float: right;
  position: relative;
  top: -406px;
  left: 520px;
}

.down {
  width: 430px;
  text-align: center;
  border: 1px solid #2d83ee;
  border-radius: 8px;
  padding: 15px 25px;
  color: #2d83ee;
  float: right;
  position: relative;
  bottom: 248px;
  left: 60px;
}

.down_one {
  width: 400px;
  text-align: center;
  border: 1px solid #2d83ee;
  border-radius: 8px;
  padding: 15px 25px;
  color: #2d83ee;
  float: right;
  position: relative;
  bottom: 192px;
  left: 520px;
}

.feature_image {
  margin: 98px;
  text-align: center;
  align-items: center;
}
.feature_image > h3 {
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: -0.71px;
}
.news {
  width: 250px;
  height: 140px;
}

.newspaper {
  display: flex;
}

.money {
  border: 1px solid #2d83ee;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
  height: 180px;
}

.money > a {
  text-decoration: none;
  font-weight: bold;
}
.cto {
  width: 220px;
  height: 140px;
}

.invest {
  width: 150px;
  height: 140px;
  padding: 30px 0;
}

/*/ /////////////////////////// Testimonals /////////////////////////*/
.testimonal_section {
  margin: 20px 180px;
}

.test > span {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.71px;
}

.readme {
  float: right;
  margin-top: -20px;
}

.testmional {
  margin: 60px 0;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
}

.testimonal_data {
  margin-left: 40px;
  width: 300px;
}

.testimonal_data > h6 {
  color: #000;
  font-size: 24px;
  letter-spacing: 0;
}

/*////////// FAQ ///////////*/

.faq {
  margin: 20px 90px 0px 130px;
  overflow: hidden;
}

.faq_sec {
  display: inline-block;
  margin-top: 0;
}

.faq_sec > h3 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.71px;
}

.faq_table {
  margin: 40px 100px;
  float: right;
}

.table_data {
  border: 1px solid #2d83ee;
  padding: 20px;
  border-radius: 8px;
}

.table_data > h6 {
  display: inline-block;
  color: #000;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: bolder;
}

/*///////////// BLOG///////////////////////// */

.blog {
  margin-top: 50px;
}

#blog_data {
  text-align: left;
}

.mask {
  width: 310px;
}

.mask_data > h6 {
  margin-top: 10px;
  color: #2d83ee;
}

.mail_box {
  background: linear-gradient(to right, #1c255e, #323773, #051144);
  padding: 20px 0;
}

.mail_info {
  margin: 40px 0px 0 200px;
}

.mail_info > p {
  color: #fff;
}

.company {
  width: 300px;
  margin-bottom: 20px;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.mailbg {
  height: 280px;
  width: 500px;
  float: right;
  position: relative;
  bottom: 270px;
}

.Mail {
  float: right;
  height: 130px;
  position: absolute;
  bottom: 50px;
  margin-left: 820px;
}

input {
  width: 360px;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 20px;
  background: #051144;
}

.signin {
  border: 1px solid #2d83ee;
  margin: 50px 200px;
  padding: 40px 60px;
  background: #2d83ee;
  color: #fff;
  border-radius: 30px;
}

.apply {
  margin: 50px 0;
  padding: 10px 25px;
  border: none;
  background: #ffff;
  color: #000;
}

.sign {
  float: right;
  height: 400px;
  position: relative;
  left: 250px;
  bottom: 200px;
}

/*/ ///////// FOOTER //////////*/
.Footer {
  background-color: #28293e;
  height: 550px;
  color: #fff;
}

.footer_start {
  margin: 0px 70px;
  display: inline-block;
  overflow: hidden;
}

.footer_id {
  display: flex;
  margin: 0;
}

.footer_data {
  width: 300px;
  cursor: pointer;
}

.footer_data > h6 {
  letter-spacing: 0;
}

select {
  padding: 5px 20px;
}

.social_icon {
  align-items: center;
  text-align: center;
}

.social_icon > h6 {
  letter-spacing: 0;
  margin-bottom: 10px;
}

.social_icon > img {
  margin-right: 15px;
  cursor: pointer;
}
